{% extends 'base.html.twig' %}

{% block title %}To Do List{% endblock %}

{% block body %}
    <h1>Listes de tâches</h1>
    <ul>
        {% for list in lists %}
            <li>
                {{ list.nom|e }}
                <a href="{{ path('toDoList', {name: list.nom}) }}">Consulter</a>
                <a href="{{ path('delete', {id: list.id}) }}">Supprimer</a><br>
                Nombre de tâches : {{ list.taches|length }}
            </li>
        {% endfor %}
    </ul>
    <h2><a href="{{ path('create') }}">Créer une liste de tâches</a></h2>

{% endblock %}
